@import '~bootstrap/scss/bootstrap';

#banner{
    background-color: rgb(73, 0, 95);
    height:100vh;
  }
  
  #content {
    background-color: rgb(250, 134, 26);
  }
  
  .btn-primary {
      //color: xxx
    background-color: rgb(73, 0, 95) !important;
    margin-top: 20px;
  }
  
  .btn-primary:hover {
    background-color: rgb(149, 77, 182) !important;
  }